<div id="<%= dom_id hectare %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Latitude:</strong>
    <%= hectare.latitude %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Longitude:</strong>
    <%= hectare.longitude %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Community:</strong>
    <%= hectare.community %>
  </p>

</div>
