<div id="<%= dom_id user %>">
  <p>
    <strong>Email:</strong>
    <%= user.email %>
  </p>

  <p>
    <strong>Password_digest:</strong>
  </p>

  <p>
    <strong>Role:</strong>
    <%= user.role %>
  </p>

</div>
