<div class="container__show">
    <div class="card_show">
        <div class="header__show">
            <h1>Editar usuario</h1>
        </div>
           <%= render "form", user: @user %>
    </div>
</div>