<% content_for :title, "New user" %>

<div class="min-h-screen flex items-center justify-center bg-[#faf7f5] py-12 px-4 sm:px-6 lg:px-8">
  <div class="max-w-md w-full space-y-8">
    <div>
      <h2 class="mt-6 text-center text-3xl font-extrabold text-gray-900">
        New user
      </h2>
    </div>
    
    <div class="mt-8 bg-white py-8 px-4 shadow sm:rounded-lg sm:px-10">
      <%= render "form", user: @user %>
    </div>

    <div class="text-center">
      <%= link_to "Back to users", users_path, class: "font-medium text-[#a4be7b] hover:text-[#94ae6b]" %>
    </div>
  </div>
</div>