<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">Editing box</h1>

  <%= render "form", box: @box %>

  <div class="flex flex-col items-start space-y-4 mt-4">
    <%= link_to "Show this box", @box, class: "btn-secondary" %>
    <%= link_to "Back to boxes", boxes_path, class: "btn-back" %>
  </div>
</div>
