<div class="container__show">
    <div class="card_show">
        <div class="header__show">
            <h1>Editar caja</h1>
        </div>
        <%= form_with(model: @box, class: "form") do |form| %>
            <%= render "form", form: form %>
        <% end %>
    </div>
</div>