<div class="container__show">
    <div class="card_show">
        <div class="header__show">
            <h1>Agregar caja</h1>
        </div>
           <%= render "form", box: @box %>
    </div>
</div>