<div class="my-5">
  <%= form.label field, label, class: "block font-bold" %>
  <%= form.select field, options_for_select(options, selected),
      { include_blank: placeholder },
      class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full hover:border-green-500" %>
</div>