<div class="header">
  <%= button_to "Cerrar Sesión", logout_path, method: :post, class: "bg-red-500 text-black py-2 px-4 rounded" %>

    <div>
        <p><%= current_user.name %></p>
        <p><%= current_user.role %></p>
    </div>
</div>