<div id="<%= dom_id werehouse %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= werehouse.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Location:</strong>
    <%= werehouse.location %>
  </p>

</div>
