@import "variables";

@mixin show() {
  background-color: $light-bg;
  width: 100%;
  height: calc(100vh - 74px);
  display: flex;
  align-items: center;
  justify-content: center;
}
.container__show {
  @include show();
}
.card_show {
  background-color: white;
  width: 800px;
  border-radius: 1rem;
  height: 500px;
  margin: auto auto;
  box-shadow: 0px 4px 4px rgba($color: #000, $alpha: 0.1);
  display: flex;
  flex-direction: column;
  .button {
    width: 125px;
  }
}
.header__show {
  border-bottom: 1px solid black;
  font-weight: bolder;
  font-size: 2rem;
  text-align: center;
  padding: 2rem 2rem 1rem 2rem;
}
.info__show {
  display: flex;
  flex-wrap: wrap;
  padding: 2rem 1rem;
  justify-content: space-between;
  width: 80%;
  margin: auto auto;
  gap: 1rem;
  div {
    display: flex;
    flex-direction: column;
    width: 45%;
    p {
      font-weight: bolder;
    }
  }
  
}
.info__show__form{
  display: flex;
  flex-wrap: wrap;
  padding: 1rem 1rem 2rem 1rem;
  justify-content: space-between;
  width: 80%;
  margin: auto auto;
  gap: 1rem;
  .info{
    font-size: 1.5rem;
    text-align: center;
  }
  div {
    display: flex;
    flex-direction: column;
    width: 90%;
    p {
      font-weight: bolder;
    }
  } 
  
.options__show__form{
  width: 150px;
  .button {
    width: 125px;
  }
}
}
.options__show {
  display: flex;
  justify-content: end;
  gap: 1rem;
  padding: 1rem 2rem 2rem 2rem;

}
.no-data {
  margin-top: 5rem;
  text-align: center;
  font-size: 1.5rem;
  padding: 2rem;
  border: 1px solid $gray;
  background-color: rgba($gray, 0.3);
  border-radius: 1rem;
}

.container__warehouse {
  @include show();
  padding: 2rem;
  padding-top: 0;
}
.container__show__warehouse {
  @include show();
  height: calc(100vh - 42px);
   flex-direction: column;
   margin-top: -2rem;
   gap: 1rem;
   h1{
    font-weight: 600;
    font-size: 2rem;
   }
}
.container__shelf {
  background-color: white;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 90%;
  height: 550px;
  justify-content: center;
  gap: 1.5rem;
  padding: 2rem;
  border-radius: 1rem;
  overflow-y: auto;
  &::-webkit-scrollbar {
    display: none;
  }
}

.shelf {
  background-color: rgba($color: $gray, $alpha: 0.2);
  box-shadow: 0px 4px 4px rgba($color: #000, $alpha: 0.1);
  padding: 1rem;
  border-radius: 1rem;
  h3 {
    text-align: center;
    font-weight: 500;
    border-bottom: 1px solid $gray;
  }
  .division {
    padding: 0.5rem;
    display: flex;
    gap: 1rem;
  }
}

.container__partition {
  display: flex;
  gap: 0.5rem;
  .partition {
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
  }
}
@mixin caja($color) {
  background-color: $color;
  border: 1px solid darken($color: $color, $amount: 30);
  color: darken($color: $color, $amount: 60);
}
.with-box {
  @include caja($gray);
}
.without-box {
  @include caja($secondary-color);
}
