@import "variables";
$border-r: 0.5rem;

.container__index {
  width: 100%;
  background-color: $light-bg;
  padding: 1rem 2rem 2rem 2rem; 
  height: calc(100vh - 74px);
}

.header__index {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;

  .search {
    display: flex;
    gap: 1rem;
    align-items: end;

    .button{
      width: 120px;
    }
    .button-2{
      width: 150px;
    }
  }
}



.table__index {
  background-color: white;
  width: 100%;
  //padding: 0.75rem;
  border: 0.75rem solid white;
  border-radius: $border-r;
  height: 85%;
  overflow: hidden;
  text-align: center;
  vertical-align: top;
  table {
    width: 100%;
  }
  thead {
    background-color: $light-bg;
    border-radius: $border-r;
    margin-bottom: 0.75rem;
    position: sticky;
    top: 0;
    z-index: 1;
    tr {
      display: table; 
      width: 100%;
      table-layout: fixed;
    }
  }
  tbody {
    width: 100%;
    display: block;
    max-height: 500px; 
    overflow-y: auto;


    tr {
      display: table;
      width: 100%;
      table-layout: fixed;
      &:hover{
        background-color:  rgba($gray, 0.3);
      }
  
    }
   
    td {
      padding: 0.75rem;
      border-bottom: 1px solid $gray;
     
    }
    &::-webkit-scrollbar {
        display: none; 
      }
  }
}
.container__warehouse{
  display: flex;
  justify-content: space-evenly;
  height: 100%;
  a{
    align-self: center;
  }
  .card__warehouse{
    background-color: white;
    width: 400px;
    height: 500px;
    border-radius: 1rem;
    box-shadow: 0px 4px 4px rgba($color: #000, $alpha: 0.10);
    padding: 2rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    transition: transform 0.3s ease;
    h2{
      font-size: 1.5rem;
      font-weight: 600;
    }
    img{
      width: 250px;
    }
    &:hover{
      transform: scale(1.02); 

    }
  }
}

.form{
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1rem;
  .info{
    p{
      font-size: 1.5rem;
      text-align: center;
    }
  }
}
